.f-row {
    display: flex;
    flex-direction: row;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.f-center {
    align-items: center;
    justify-content: center;
}

.f-end {
    align-items: center;
    justify-content: flex-end;
}

.f-start {
    align-items: center;
    justify-content: flex-start;
}

.f-space-bt {
    align-items: center;
    justify-content: space-between;
}

.f-space-ar {
    align-items: center;
    justify-content: space-around;
}