i {
    &.action {
        cursor: pointer;
        color: $colorInfo;
        font-size: 1.5em;
        margin: 0 10px;
        transition: .5s;
        &:hover {
            // transform: translateY(-1px);
            transform: scale(1.2);
        }
    }
    &.red {
        color: $colorDanger;
        &.iclose {
            &:hover {
                color: red;
                transform: scale(1.2);
            }
        }
    }
    &.info {
        color: $colorInfo;
        &.iinfo {
            &:hover {
                color: skyblue;
                transform: scale(1.2);
            }
        }
    }
    &.green {
        color: $colorSuccess;
    }
}