$w: w !default;
.table-content {
    overflow-x: auto;
    &.mh {
        max-height: 400px;
    }
}

.table-own {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: width 1s;
    padding: 10px 15px;
    color: #000;
    & .table-head {
        & tr,
        th {
            background: #638ec3;
            font-size: .93em;
        }
    }
    & .table-body {
        & tr,
        td,
        th {
            font-size: .9em;
            text-align: center;
            min-width: 130px;
            &:hover {
                background: #85a9d4 !important; // cursor: pointer;
            }
            @for $i from 10 through 300 {
                &.#{$w}-#{$i} {
                    min-width: 0px + $i;
                }
            }
        }
    }
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(240, 236, 236);
}

.el-table {
  .creado {
      cursor: pointer;
      padding: 0;
      font-size: .8em;
  }
  td, th {
      padding: 5px 0 !important;
      color: #000 !important;
  }
}

.el-table th, .el-table tr {
  padding: 5px 0 !important;
  color: #000 !important;
}